<div class="section"></div>
<div class="container text-center">
  <br><br>

</div>
<div class="container">
  <div class="row">
    <div class="col-md-9 main-panel">
      <div class="col-md-12 nopadding">
        <div class="video-container">
          <div id="player"></div>
        </div>
        <% if current_user %>
          <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#home">All</a></li>
            <li><a data-toggle="tab" href="#menu1">Songs</a></li>
            <li><a data-toggle="tab" href="#menu2">Technique</a></li>
            <li><a data-toggle="tab" href="#menu3">Gear</a></li>
          </ul>
        </div>

          <%= react_component 'AllVideos', { data: @videos } %>
          <% else %>
          <h3>Sign in to your YouTube account to view your playlists</h3>
          <%= link_to 'Log In', '/auth/google_oauth2' %>
        </div>
        <% end %>


    </div>
    <div class="col-md-3 main-panel">
      <%= render 'search', object: @search %>
    </div>
  </div>
</div>
