<% if @results.any? %>
  <% @results['items'].in_groups_of(4) do |group|  %>
    <div class="row">
      <% group.each do |video| %>
        <% if video %>
          <div class="col-md-3">
            <div class="yt_video">
              <%= link_to image_tag(video['snippet']['thumbnails']['medium']['url'], alt: 'video', class: 'search-picture'),
              "https://www.youtube.com/watch?v=#{video['id']['videoId']}", target: '_blank' %>
              <div class="caption-search">
                <h5><%= video['snippet']['title'] %></h5>
                <p>Published at <%= video['snippet']['publishedAt'] %></p>
                
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  <% end %>
<% end %>
