<% if @results.any? %>
  <% @results['items'].each do |video| %>
    <% if video %>
      <div class="yt_video">
        <%= link_to image_tag(video['snippet']['thumbnails']['medium']['url'], alt: 'video'),
                    "https://www.youtube.com/watch?v=#{video['id']['videoId']}", target: '_blank' %>
        <div class="caption">
          <h5><%= video['snippet']['title'] %></h5>
          <p>Published at <%= video['snippet']['publishedAt'] %></p>
          <%= link_to 'Add Video', videos_path(:video => { :link => "https://youtu.be/#{video['id']['videoId']}"}), class: 'btn btn-success', method: 'post'  %>
          <button type="button" class="btn btn-danger" class="search-play"><span class="glyphicon glyphicon glyphicon-play"></span></button>
        </div>
      </div>
    <% end %>
  <% end %>
<% end %>
